*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	background-color: rgb(243, 245, 244);
	font-family: Arial, Helvetica, sans-serif;
	background-image: url('imagens/wallpaper2.jpg');
	display: flex;
	flex-direction: column;
}

#header {
	width: 100%;
	background-color: rgb(20, 20, 20);
}

#header h1 {
	color: rgb(240 , 240 , 240);
	padding: 10px;
	font-size: 4.5rem;
}

#link_tree {
	background-color: rgb(27, 27, 27);
	padding: 15px 10px;
	display: flex;
	justify-content: flex-start;
}

.button {
	color: rgb(240 , 240 , 240);
	background-color: rgb(120 , 120 , 120);
	text-decoration: none;
	font-size: 2rem;
	padding: 10px;
	border-radius: 6px;
	margin-right: 8px;
}

.button:hover {
	background-color: rgb(20 , 20 , 20);
	color: rgb(180, 180, 180);
}

#about-me {
	display: flex;
	justify-content: center;
	max-width: 100%;
	padding: 75px 5px;
}

#article {
	width: 95%;
	display: flex;
	justify-content: space-around;
	padding: 10px 0;
}

#pictures-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-basis: 50%;
	padding: 10px;
}

.pic {
	margin: 10px;
	display: flex;
	flex-basis: 40%;
	justify-content: center;
	padding: 10px;
	border: 1px red solid;
}

.pic img {
	width: 90%;
	height: 90%;
}

#description {
	flex-basis: 50%;
	padding: 10px 0;
}

#description h2 {
	text-align: center;
	font-size: 2.8rem;
}

#description p {
	font-size: 2.4rem;
	padding: 30px 10px;
}

#habilities-others {
	background-color: rgb(27 , 27 , 27);
	color: rgb(240 , 240 , 240);
	padding: 60px 15px;
	display: flex;
	justify-content: space-around;
}

.list-div {
	text-align: center;
}

.list-div h2 {
	font-size: 2.8rem;
	font-weight: 900;
	text-align: center;
	padding-bottom: 10px;
}

.list-div i {
	font-size: 2.8rem;
	padding-bottom: 30px;
}

.list-div .list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 55%;
	list-style: none;
}

.list-div li {
	font-size: 2.4rem;
	padding-bottom: 4px;
}

.list-div li a {
	color: rgb(240, 240, 240);
}

#projects-section {
	padding: 30px 20px;
}

#projects-section h2 {
	text-align: center;
	font-size: 2.8rem;
	padding: 20px 0;
}

#projects-section #projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 30px;
	border: 1px red solid;
}

#projects-section h4 {
	font-size: 2.4rem;
	padding: 20px 0;
}

#projects-section .projects-div {
	text-align: center;
	flex-basis: 30%;
	padding: 20px;
}

#projects-section .projects-div #im1 {
	width: 90%;
}

#footer {
	margin-top: auto;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: rgb(20, 20, 20);
	color: rgb(240, 240, 240);
	width: 100%;
	min-height: 100px;
}

#footer a {
	text-decoration: none;
	color: rgb(240, 240, 240);
	padding: 0 10px;
	font-size: 1.8rem;
}
