*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(217, 255, 242);
}
#header {
    position: fixed;
    width: 100%;
    background-color: rgb(116, 209, 186);
}
#meuNome {
    padding-top: 8px;
    padding-left: 8px;
    font-size: 40px;
}
.links {
    display: inline-block;
}
#link_tree {
    padding: 5px;
    background-color: rgb(171, 212, 212);
}
.buttom {
    color: rgb(196, 235, 231);
    background-color: rgb(43, 141, 141);
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 10%;
    margin: 5px;
}
.buttom:hover {
    background-color: rgb(17, 56, 56);
    color: rgb(76, 128, 128) ;
}

#middle {
   padding: 20px 80px;
   background-color: rgb(163, 238, 219);
   margin: auto; 
   padding-top: 100px;
}
.pic_description {
    width: 300px;
    padding: 20px;
    margin-inline-start: 10%;
    display: inline-block;

}
#foto {
    border-radius: 1%;
}

.titulos {
    font-family: 'Roboto' , Helvetica;
    color: rgb(66, 112, 112);
}

.pa_lis {
    font-family: 'Noto+Sans' ,Helvetica;
    color: rgb(33, 112, 112);
}

.links .buttom {
    padding: 10px;
}
.links h1 {
    padding: 15px;
}
.lists {
    margin-left: 30px;
    margin-bottom: 25px;
}
h2 {
    margin-bottom: 30px;
}

.pa_lis .buttom {
    padding: 6px;
    border-radius: 6%;
}
